<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>주문번호</th>
        <th>송장번호</th>
        <th>발주목록</th>
        <th>발주날짜</th>
        <th>주문금액</th>
        <th>배송상태</th>
    </tr>
    </thead>
    <tbody class="list">
    <tr th:block th:each="status:${delivery.statusList}">
        <td>[[${delivery.uid}]]</td>
        <td>[[${status.invoiceNumber</td>
        <td>발주목록</td>
        <td>[[${#temporals.format(delivery.createDate, 'yyyy-MM-dd HH:mm')}]]</td>
        <td>[[${delivery.total}]]</td>
        <td>[[${delivery.status}]]</td>
    </tr>
    </tbody>
</table>
</body>
</html>