<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table>
    <thead>
    <tr>
      <th>주문번호</th>
      <th>발주날짜</th>
      <th>주문금액</th>
      <th>배송상태</th>
    </tr>
    </thead>
    <tbody class="list">
    <tr th:block th:each="delivery:${deliveries}">
      <td>[[${delivery.uid}]]</td>
      <td><a th:href="@{|/delivery/readDetail?id=${delivery.id}|}">[[${#temporals.format(delivery.createDate, 'yyyy-MM-dd HH:mm')}]]</a></td>
      <td>[[${delivery.total}]]원</td>
      <td>[[${delivery.status}]]</td>
    </tr>
    </tbody>
  </table>
</body>
</html>