<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>주문번호</th>
        <th>주문목록</th>
        <th>주문날짜</th>
        <th>주문금액</th>
        <th>송장번호</th>
        <th>배송상태</th>
    </tr>
    </thead>
    <tbody class="list">
    <tr th:block th:each="status:${delivery.statusList}">
        <td>[[${delivery.uid}]]</td>
        <td>[[${delivery.allAbout}]]</td>
        <td>[[${#temporals.format(delivery.createDate, 'yyyy-MM-dd HH:mm')}]]</td>
        <td>[[${delivery.total}]]</td>
        <td>[[${status.tracking}]]</td>
        <td><span th:switch="${status.step}">
                    <span th:case="결제완료"> <img th:src="@{|/images/delivery1.jpg|}"></span>
                    <span th:case="상품준비중"><img th:src="@{|/images/delivery2.jpg|}"></span>
                    <span th:case="배송중"><img th:src="@{|/images/delivery3.jpg|}"></span>
                    <span th:case="배송완료"><img th:src="@{|/images/delivery4.jpg|}"></span>
        </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>