<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>

<form th:action="@{/member/create}" method="post" enctype="multipart/form-data">

  <input type="text" name="username" placeholder="아이디">
  <input type="text" name="password" placeholder="비밀번호">
  <input type="text" name="name" placeholder="이름">
  <input type="text" name="tel" placeholder="전화번호">
  <input type="text" name="addr" placeholder="주소">
    <input type="file" name="file" placeholder="profile">
  <input type="submit" value="전송">

</body>
</html>