<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
</head>
<body>

<script>
    // 페이지 로드 시 회원가입 버튼을 숨김
    $(document).ready(function() {
        updateSubmitButton();
    });

    // 본인인증 완료 여부를 저장하는 변수 추가
    var isVerified = false;

    // 본인인증 인증번호 문자 발송
    function phoneChk(){

        var phone = $("#phone").val();
        $.ajax({
            type:"Post",
            url:"/member/phoneCheck?phone=" + phone,
            dataType:"json",
            data:{"phone" : $("#phone").val()},
            success:function(data){
                alert("인증번호가 발송되었습니다.");
                $("#Confirm").val(data);
            }
        });
    }
    // 발송한 인증번호와 사용자의 인증번호 입력값 비교
    function confirmNum(){

        var number1 = $("#phone2").val();
        var number2 = $("#Confirm").val();

        if(number1 == null || number1 == "" || number1 != number2){
            $(".successPhoneChk").text("인증번호가 일치하지 않습니다. 확인해주시기 바랍니다.");
            $(".successPhoneChk").css("color","red");
        }else{
            $(".successPhoneChk").text("인증번호가 일치합니다.");
            $(".successPhoneChk").css("color","green");

            // 본인인증이 성공하면 isVerified를 true로 설정하고, 버튼의 가시성 업데이트
            isVerified = true;
            updateSubmitButton();

        }
    }

    // 본인인증 완료 여부에 따라 회원가입 버튼의 가시성을 업데이트하는 함수
    function updateSubmitButton() {
        if (isVerified) {
            $(".submit-button").show();
        } else {
            $(".submit-button").hide();
        }
    }


    // 전화번호 입력 칸의 내용이 변경되면 아래 전화번호 칸에 같은 내용을 입력
    $("#phone").change(function() {
        var phone = $(this).val();
        $("input[name='phone']").val(phone);
    });

</script>
<h1>회원가입</h1>
<h3>본인인증 하셔야 회원가입이 가능합니다.</h3>
<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
    <input id="phone" type="text" title="전화번호 입력">
    <button id="phoneChk" class="btn btn-primary"  onclick="phoneChk()">인증번호 전송</button><br />
    <br>
    <input id="phone2" type="text" name="phone2" title="인증번호 입력" required />

    <input id="Confirm" type="hidden">
    <button id="phoneChk2" class="btn btn-primary" onclick="confirmNum()">본인인증</button><br>




<form th:action="@{/member/create}" th:object="${memberForm}" method="post"enctype="multipart/form-data">
	
	    <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        
        
	  <p>아이디:<input type="text" name="username" />
	  <p>비밀번호:<input type="password" name="password"  />
	  <p>비밀번호 확인:<input type="text" name="confirmPassword"  />
	  <p>이름:<input type="text" name="name"  />
	  <p>핸드폰<input type="text" name="phone"  /><br>
	  <p>주소:<input type="text" name="address"/>
        <select name="belong"></select>
            <option value="본사">본사</option>
            <option value="가맹점">가맹점</option>
        </select>
	  <p>프로필사진:<input type="file" name="filename" /><br><br>

    <input class="btn btn-primary rounded-pill py-3 px-5 submit-button" type="submit" value="회원 가입"></input>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

</body>
</html>