<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>관리자페이지</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="manifest" href="../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../vendors/simplebar/simplebar.min.js"></script>
    <script src="../assets/js/config2.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../vendors/fullcalendar/main.min.css" rel="stylesheet">
    <link href="../vendors/choices/choices.min.css" rel="stylesheet">
    <link href="../vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
    <link href="../vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="../assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="../assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="../assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>
	  
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-vertical navbar-expand-lg">
        <script>
          var navbarStyle = window.config.config.phoenixNavbarStyle;
          if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
          }
        </script>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              <li class="nav-item">

                <!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/noticeReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="list"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">공지관리</span></span>
				        </div>
				    </a>
				</div>
				<!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-2" href="#nv-home1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home1">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="help-circle"></span></span><span class="nav-link-text">문의관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-2">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home1">
                      <li class="collapsed-nav-item-title d-none">문의관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/questionReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">문의목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/faqReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">자주하는질문(FAQ)</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
		            </ul>
		          </div>
		        </div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="../pages/members.html" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="check-square"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">결재관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/deliveryReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="shopping-cart"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">발주관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/brandReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="map-pin"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">지점관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/schedule" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="calendar"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">일정관리</span></span>
				        </div>
				    </a>
				</div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="users"></span></span><span class="nav-link-text">회원관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                      <li class="collapsed-nav-item-title d-none">회원관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회원목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberApprove" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">가입신청목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberPosition" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">부서/직급관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
            </ul>
          </div>
        </div>
                
              </li>
              
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">간략히 보기</span></button>
        </div>
      </nav>
      <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
        <div class="collapse navbar-collapse justify-content-between">
          <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="/admin/main">
              <div class="d-flex align-items-center">
                  <p class="logo-text ms-2 d-none d-sm-block" style="font-size: 20px;">관리자전용 페이지</p>
              </div>
            </a>
          </div>
          
          <ul class="navbar-nav navbar-nav-icons flex-row">
            <li class="nav-item">
              <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
              </div>
            </li>
            
            
            <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-l ">
                  <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}" alt="" />

                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
                <div class="card position-relative border-0">
                  <div class="card-body p-0">
                    <div class="text-center pt-4 pb-3">
                      <div class="avatar avatar-xl ">
                        <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}"  alt="" />

                      </div>
                      <h6 class="mt-2 text-black">[[${user.name}]]</h6>
                    </div>
                    
                  </div>
                  <div class="overflow-auto scrollbar" style="height: 3rem;">
                    <ul class="nav d-flex flex-column mb-2 pb-1">
                      <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="user"></span><span>마이페이지</span></a></li>
                    </ul>
                  </div>
                  <div class="card-footer p-0 border-top">
              
                    <div class="p-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout"> <span class="me-2" data-feather="log-out"> </span>로그아웃</a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      
      <div class="content pb-0">
        <div class="row gy-3 mb-6 justify-content-between">
          <div class="col-md-9 col-auto">
            <h2 class="text-1100" style="font-size: 24px;">대시보드</h2>
          </div>
        </div>
        
        <div class="row mb-6 gy-6">
          <div class="col-12 col-xxl-2">
            <div class="row align-items-center g-3 g-xxl-0 h-100 align-content-between">
				
			<div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center"><span class="fs-4 lh-1 uil uil-users-alt text-success-500"></span>
                  <div class="ms-2">
                    <div class="d-flex align-items-end">
                      <span class="fs-1 fw-semi-bold text-900">회원</span><h2 class="mb-0 ms-2"><a th:text="${#lists.size(members)}"></a></h2><span class="fs-1 fw-semi-bold text-900">명</span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center"><span class="fs-4 lh-1 uil uil-invoice text-warning-500"></span>
                  <div class="ms-2">
                    <div class="d-flex align-items-end">
                      <span class="fs-1 fw-semi-bold text-900">발주 신청</span><h2 class="mb-0 ms-2">[[${deliveyNotComplete}]]</h2><span class="fs-1 fw-semi-bold text-900">건</span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center"><span class="fs-4 lh-1 uil uil-books text-primary-500"></span>
                  <div class="ms-2">
                    <div class="d-flex align-items-end">
                      <span class="fs-1 fw-semi-bold text-900">미처리 결재</span><h2 class="mb-0 ms-2">32</h2><span class="fs-1 fw-semi-bold text-900">건</span>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-3 col-lg-6 col-xl-3 col-xxl-12">
                <div class="d-flex align-items-center"><span class="fs-4 lh-1 uil uil-refresh text-danger-500"></span>
                  <div class="ms-2">
                    <div class="d-flex align-items-end">
                      <span class="fs-1 fw-semi-bold text-900">미처리 문의</span><h2 class="mb-0 ms-2"><a th:text="${#lists.size(QuestionNotComplete)}"></a></h2><span class="fs-1 fw-semi-bold text-900">건</span>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
           </div>
           </div>
          
        <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 pt-7 pb-13 border-top border-300">
          <div class="row">
            <div class="col-12 col-xl-7 col-xxl-6">
              <div class="row g-3 mb-3">
                <div class="col-12 col-md-6">
                  <h2 class="text-1100" style="font-size: 24px;">전국 지역별 지점현황</h2>
                  <p class="text-700 mb-md-7">[[${date}]] 기준</p>
                  <div class="d-flex align-items-center justify-content-between">
                    <p class="mb-0 fw-bold">지역별 지점 수 </p>
                    <p class="mb-0 fs--1">전체 <span class="fw-bold">51</span></p>
                  </div>
                  <hr class="bg-200 mb-2 mt-2" />
                  <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-info-300 bullet-item me-2"></span>
                    <p class="mb-0 fw-semi-bold text-900 lh-sm flex-1">서울</p>
                    <h5 class="mb-0 text-900">20</h5>
                  </div>
                  <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-warning-300 bullet-item me-2"></span>
                    <p class="mb-0 fw-semi-bold text-900 lh-sm flex-1">경기</p>
                    <h5 class="mb-0 text-900">15</h5>
                  </div>
                  <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-danger-300 bullet-item me-2"></span>
                    <p class="mb-0 fw-semi-bold text-900 lh-sm flex-1">경남</p>
                    <h5 class="mb-0 text-900">10</h5>
                  </div>
                  <div class="d-flex align-items-center mb-1"><span class="d-inline-block bg-success-300 bullet-item me-2"></span>
                    <p class="mb-0 fw-semi-bold text-900 lh-sm flex-1">충남</p>
                    <h5 class="mb-0 text-900">5</h5>
                  </div>
                  <div class="d-flex align-items-center"><span class="d-inline-block bg-primary bullet-item me-2"></span>
                    <p class="mb-0 fw-semi-bold text-900 lh-sm flex-1">강원</p>
                    <h5 class="mb-0 text-900">1</h5>
                  </div>
                  <button class="btn btn-outline-primary mt-5">상세정보<span class="fas fa-angle-right ms-2 fs--2 text-center"></span></button>
                </div>
                <div class="col-12 col-md-6">
                  <div class="position-relative mb-sm-4 mb-xl-0">
                    <div class="echart-issue-chart1" style="min-height:390px;width:100%"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-xl-5 col-xxl-6">
              
            <h2 class="text-1100" style="font-size: 24px;">[[${#dates.format(date, 'MM')}]]월 지점별 매출현황</h2>
            <p class="text-700">[[${date}]] 기준</p>
            <p class="text-500 mb-md-2" style="font-size: 0.8rem;">매출액 (만원)</p>
            <div class="echart-basic-bar-chart-example1" style="min-height:300px"></div>
              
            </div>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
        </div>
      
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
      
            
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../vendors/popper/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/anchorjs/anchor.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../vendors/list.js/list.min.js"></script>
    <script src="../vendors/feather-icons/feather.min.js"></script>
    <script src="../vendors/dayjs/dayjs.min.js"></script>
    <script src="../vendors/choices/choices.min.js"></script>
    <script src="../vendors/echarts/echarts.min.js"></script>
    <script src="../vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
    <script src="../assets/js/phoenix.js"></script>
    <script src="../assets/js/projectmanagement-dashboard.js"></script>
    <script src="../assets/js/echarts-example.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../vendors/fullcalendar/main.js"></script>
    
<script>
	const echartTabs = document.querySelectorAll('[data-tab-has-echarts]');
  if (echartTabs) {
    echartTabs.forEach(tab => {
      tab.addEventListener('shown.bs.tab', e => {
        const el = e.target;
        const { hash } = el;
        const id = hash || el.dataset.bsTarget;
        const content = document.getElementById(id.substring(1));
        const chart = content?.querySelector('[data-echart-tab]');
        if (chart) {
          window.echarts.init(chart).resize();
        }
      });
    });
  }

  const tooltipFormatter = (params, dateFormatter = 'MMM DD') => {
    let tooltipItem = ``;
    params.forEach(el => {
      tooltipItem += `<div class='ms-1'>
        <h6 class="text-700"><span class="fas fa-circle me-1 fs--2" style="color:${
          el.borderColor ? el.borderColor : el.color
        }"></span>
          ${el.seriesName} : ${
      typeof el.value === 'object' ? el.value[1] : el.value
    }
        </h6>
      </div>`;
    });
    return `<div>
            <p class='mb-2 text-600'>
              ${
                window.dayjs(params[0].axisValue).isValid()
                  ? window.dayjs(params[0].axisValue).format(dateFormatter)
                  : params[0].axisValue
              }
            </p>
            ${tooltipItem}
          </div>`;
  };

  const handleTooltipPosition = ([pos, , dom, , size]) => {
    // only for mobile device
    if (window.innerWidth <= 540) {
      const tooltipHeight = dom.offsetHeight;
      const obj = { top: pos[1] - tooltipHeight - 20 };
      obj[pos[0] < size.viewSize[0] / 2 ? 'left' : 'right'] = 5;
      return obj;
    }
    return null; // else default behaviour
  };
  
  
    const issuesDiscoveredChartInit = () => {
    const { getColor, getData } = window.phoenix.utils;
    const issuesDiscoveredChartEl = document.querySelector('.echart-issue-chart1');

    if (issuesDiscoveredChartEl) {
      const userOptions = getData(issuesDiscoveredChartEl, 'echarts');
      const chart = window.echarts.init(issuesDiscoveredChartEl);

      const getDefaultOptions = () => ({
        color: [
          getColor('info-300'),
          getColor('warning-300'),
          getColor('danger-300'),
          getColor('success-300'),
          getColor('primary')
        ],
        tooltip: {
          trigger: 'item',
          position: (...params) => handleTooltipPosition(params)
        },
        responsive: true,
        maintainAspectRatio: false,

        series: [
          {
            name: '지역별 지점 수',
            type: 'pie',
            radius: ['48%', '90%'],
            startAngle: 30,
            avoidLabelOverlap: false,
            // label: {
            //   show: false,
            //   position: 'center'
            // },

            label: {
              show: false,
              position: 'center',
              formatter: '{x|{d}%} \n {y|{b}}',
              rich: {
                x: {
                  fontSize: 31.25,
                  fontWeight: 800,
                  color: getColor('gray-700'),
                  padding: [0, 0, 5, 15]
                },
                y: {
                  fontSize: 12.8,
                  color: getColor('gray-700'),
                  fontWeight: 600
                }
              }
            },
            emphasis: {
              label: {
                show: true
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: 20, name: '서울' },
              { value: 15, name: '경기' },
              { value: 10, name: '경남' },
              { value: 5, name: '충남' },
              { value: 1, name: '강원' }
            ]
          }
        ],
        grid: {
          bottom: 0,
          top: 0,
          left: 0,
          right: 0,
          containLabel: false
        }
      });
      
      // 기본 옵션 적용
      chart.setOption(getDefaultOptions());
    }
  };
  
  const basicBarChartInit = () => {
    const { getColor, getData } = window.phoenix.utils;
    const $chartEl = document.querySelector('.echart-basic-bar-chart-example1');
    const months = [
      '종로점',
      '명동점',
      '미아점',
      '수유점',
      '성북점',
      '길음점',
      '노원점'
    ];
    const data = [
      14900,
      8200,
      5300,
      4900,
      2600,
      2200,
      1500
    ];

    if ($chartEl) {
      const userOptions = getData($chartEl, 'echarts');
      const chart2 = window.echarts.init($chartEl);
      const getDefaultOptions = () => ({
        tooltip: {
          trigger: 'axis',
          padding: [7, 10],
          backgroundColor: getColor('gray-100'),
          borderColor: getColor('gray-300'),
          textStyle: { color: getColor('dark') },
          borderWidth: 1,
          formatter: params => tooltipFormatter(params),
          transitionDuration: 0,
          axisPointer: {
            type: 'none'
          }
        },
        xAxis: {
          type: 'category',
          data: months,
          axisLine: {
            lineStyle: {
              color: getColor('gray-300'),
              type: 'solid'
            }
          },
          axisTick: { show: false },
          axisLabel: {
            color: getColor('gray-400'),
            formatter: value => value,
            margin: 15
          },
          splitLine: {
            show: false
          }
        },
        yAxis: {
          type: 'value',
          boundaryGap: true,
          axisLabel: {
            show: true,
            color: getColor('gray-400'),
            margin: 5
          },
          splitLine: {
            show: true,
            lineStyle: {
              color: getColor('gray-200')
            }
          },
          axisTick: { show: false },
          axisLine: { show: false },
          min: 0
        },
        series: [
          {
            type: 'bar',
            name: '매출액',
            data,
            lineStyle: { color: getColor('primary') },
            itemStyle: {
              color: getColor('primary'),
              barBorderRadius: [3, 3, 0, 0]
            },
            showSymbol: false,
            symbol: 'circle',
            smooth: false,
            hoverAnimation: true
          }
        ],
        grid: { right: '3%', left: '10%', bottom: '10%', top: '5%' }
      });
      
      // 기본 옵션 적용
      chart2.setOption(getDefaultOptions());
    }
  };
  
    // 페이지 로드 시 차트 초기화 함수 호출
    document.addEventListener('DOMContentLoaded', issuesDiscoveredChartInit);
    document.addEventListener('DOMContentLoaded', basicBarChartInit);
  </script>
  
  </body>

</html>