<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>관리자페이지</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="manifest" href="../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../vendors/simplebar/simplebar.min.js"></script>
    <script src="../assets/js/config2.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../vendors/fullcalendar/main.min.css" rel="stylesheet">
    <link href="../vendors/choices/choices.min.css" rel="stylesheet">
    <link href="../vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
    <link href="../vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="../assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="../assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="../assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-vertical navbar-expand-lg">
        <script>
          var navbarStyle = window.config.config.phoenixNavbarStyle;
          if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
          }
        </script>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              <li class="nav-item">

                <!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/noticeReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="list"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">공지관리</span></span>
				        </div>
				    </a>
				</div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-2" href="#nv-home1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home1">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="help-circle"></span></span><span class="nav-link-text">문의관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-2">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home1">
                      <li class="collapsed-nav-item-title d-none">문의관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/questionReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">문의목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/faqReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">자주하는질문(FAQ)</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
		            </ul>
		          </div>
		        </div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="../pages/members.html" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="check-square"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">결재관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/deliveryReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="shopping-cart"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">발주관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="../pages/members.html" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="map-pin"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">지점관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/schedule" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="calendar"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">일정관리</span></span>
				        </div>
				    </a>
				</div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="users"></span></span><span class="nav-link-text">회원관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                      <li class="collapsed-nav-item-title d-none">회원관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회원목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberApprove" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">가입신청목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberPosition" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">부서/직급관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">간략히 보기</span></button>
        </div>
      </nav>
      <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
        <div class="collapse navbar-collapse justify-content-between">
          <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="/admin/main">
              <div class="d-flex align-items-center">
                  <p class="logo-text ms-2 d-none d-sm-block" style="font-size: 20px;">관리자전용 페이지</p>
              </div>
            </a>
          </div>
          
          <ul class="navbar-nav navbar-nav-icons flex-row">
            <li class="nav-item">
              <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
              </div>
            </li>
            
            
            <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-l ">
                  <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}" alt="" />

                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
                <div class="card position-relative border-0">
                  <div class="card-body p-0">
                    <div class="text-center pt-4 pb-3">
                      <div class="avatar avatar-xl ">
                        <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}" alt="" />

                      </div>
                      <h6 class="mt-2 text-black">[[${user.name}]]</h6>
                    </div>
                    
                  </div>
                  <div class="overflow-auto scrollbar" style="height: 3rem;">
                    <ul class="nav d-flex flex-column mb-2 pb-1">
                      <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="user"></span><span>마이페이지</span></a></li>
                    </ul>
                  </div>
                  <div class="card-footer p-0 border-top">
              
                    <div class="p-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout"> <span class="me-2" data-feather="log-out"> </span>로그아웃</a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      
		<div class="content">
		<h2 class="text-bold text-1100 mb-5">부서/직급관리</h2>
		<div class="row">
		<div class="col-md-6" style="border: 1px solid lightslategray; border-radius: 5px; padding: 15px; margin-bottom: 5px;">
        <div id="members" data-list='{"valueNames":["number","customer","position","city","last_active","joined"],"page":10,"pagination":true}' style="margin-left: 50px;">
          <div class="row align-items-center justify-content-between g-3 mb-4">
			  
            <div class="col">
				<form action="/department/create" method="post">
			    <div class="row mt-3">
			        <div class="col-auto">
			            <input class="form-control mb-0" type="text" name="department" placeholder="부서" />
			        </div>
			        <div class="row mt-4">
			        <div class="col-auto">
			            <button class="btn btn-primary"><span class="fas fa-plus me-2"></span>부서추가</button>
			        </div>
			        </div>
			    </div>
			    </form>
			</div>
			
          </div>
          <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-white border-y border-300 mt-2 position-relative top-1" style="width: 100%;">
            <div class="table-responsive scrollbar ms-n1 ps-1">
              <table class="table table-sm fs--1 mb-0">
                <thead>
                  <tr>
					<th class="sort align-middle" scope="col" data-sort="number" style="width:15%; min-width:100px;">부서번호</th>
                    <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:100px;">소속</th>
                    <th class="sort align-middle" scope="col" data-sort="position" style="width:15%; min-width:100px;">부서</th>
                    <th class="align-middle" scope="col" style="width:20%;"></th>
                  </tr>
                </thead>
                <tbody class="list" id="members-table-body">
				  <th:block th:each="department : ${departments}">
                  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
					<td class="number align-middle white-space-nowrap text-1100">[[${department.id}]]</td>
                    <td class="customer align-middle white-space-nowrap text-1100">본사</td>
                    <td class="number align-middle white-space-nowrap text-1100">[[${department.department}]]</td>
                  	<td class="position align-middle"><button class="btn btn-danger btn-sm" style="padding: 5px 10px; font-size: 12px; margin-left: 22px;" th:onclick="deleteDepartment([[${department.id}]])">삭제</button></td>
                  </tr>
                  </th:block>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
              <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">전체보기<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
              </div>
              <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
              </div>
            </div>
          </div>
        </div>
        </div>
        
        
        <div class="col-md-6" style="border: 1px solid lightslategray; border-radius: 5px; padding: 15px; margin-bottom: 5px;">
        <div id="members1" data-list='{"valueNames":["number","customer","position","city","last_active","joined"],"page":10,"pagination":true}' style="margin-left: 50px;">
          <div class="row align-items-center justify-content-between g-3 mb-4">
			  
            <div class="col">
				<form action="/position/create" method="post">
			    <div class="row mt-3">
			        <div class="col-auto">
			            <input class="form-control mb-0" type="text" name="number" placeholder="직급번호" />
			        </div>
			        <div class="col-auto">
			            <input class="form-control mb-0" type="text" name="position" placeholder="직급" />
			        </div>
			        <div class="col-auto mt-4">
			            <button class="btn btn-primary"><span class="fas fa-plus me-2"></span>직급추가</button>
			        </div>
			    </div>
			    </form>
			</div>
			
          </div>
          <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-white border-y border-300 mt-2 position-relative top-1" style="width: 100%;">
            <div class="table-responsive scrollbar ms-n1 ps-1">
              <table class="table table-sm fs--1 mb-0">
                <thead>
                  <tr>
					<th class="sort align-middle" scope="col" data-sort="number" style="width:15%; min-width:100px;">직급번호</th>
                    <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:100px;">소속</th>
                    <th class="sort align-middle" scope="col" data-sort="position" style="width:15%; min-width:100px;">직급</th>
                    <th class="align-middle" scope="col" style="width:20%;"></th>
                  </tr>
                </thead>
                <tbody class="list" id="members-table-body">
				  <th:block th:each="position : ${positions}">
                  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
					<td class="number align-middle white-space-nowrap text-1100">[[${position.number}]]</td>
                    <td class="customer align-middle white-space-nowrap text-1100">본사</td>
                    <td class="number align-middle white-space-nowrap text-1100">[[${position.position}]]</td>
                  	<td class="position align-middle"><button class="btn btn-danger btn-sm" style="padding: 5px 10px; font-size: 12px; margin-left: 22px;" th:onclick="deletePosition([[${position.id}]])">삭제</button></td>
                  </tr>
                  </th:block>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
              <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">전체보기<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
              </div>
              <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
              </div>
            </div>
          </div>
        </div>
        </div>
        
        
        
        
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>

      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
      
     <script>
        function approveMember(memberId) {
			
            $.ajax({
                type: "POST",
                url: "/admin/memberApprove",
                data: {
                    id: memberId
                },
                success: function(data){
                alert("회원가입 승인.");
                location.reload();
            }
            });
        }
    </script>
    
    <script>
        function deletePosition(positionId) {
			
            $.ajax({
                type: "POST",
                url: "/position/delete",
                data: {
                    id: positionId
                },
                success: function(data){
                alert("삭제되었습니다.");
                location.reload();
            }
            });
        }
    </script>
    
    <script>
        function deleteDepartment(departmentId) {
			
            $.ajax({
                type: "POST",
                url: "/department/delete",
                data: {
                    id: departmentId
                },
                success: function(data){
                alert("삭제되었습니다.");
                location.reload();
            }
            });
        }
    </script>
            
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../vendors/popper/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/anchorjs/anchor.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../vendors/list.js/list.min.js"></script>
    <script src="../vendors/feather-icons/feather.min.js"></script>
    <script src="../vendors/dayjs/dayjs.min.js"></script>
    <script src="../vendors/choices/choices.min.js"></script>
    <script src="../vendors/echarts/echarts.min.js"></script>
    <script src="../vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
    <script src="../assets/js/phoenix.js"></script>
    <script src="../assets/js/projectmanagement-dashboard.js"></script>
    <script src="../assets/js/echarts-example.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
  </body>

</html>