<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>관리자페이지</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicons/apple-touch-icon.png">
    <link rel="manifest" href="../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="../vendors/simplebar/simplebar.min.js"></script>
    <script src="../assets/js/config2.js"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="../vendors/fullcalendar/main.min.css" rel="stylesheet">
    <link href="../vendors/choices/choices.min.css" rel="stylesheet">
    <link href="../vendors/dhtmlx-gantt/dhtmlxgantt.css" rel="stylesheet">
    <link href="../vendors/flatpickr/flatpickr.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="../assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="../assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="../assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="../assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-vertical navbar-expand-lg">
        <script>
          var navbarStyle = window.config.config.phoenixNavbarStyle;
          if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
          }
        </script>
        <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
          <!-- scrollbar removed-->
          <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
              <li class="nav-item">

                <!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/noticeReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="list"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">공지관리</span></span>
				        </div>
				    </a>
				</div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-2" href="#nv-home1" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home1">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="help-circle"></span></span><span class="nav-link-text">문의관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-2">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home1">
                      <li class="collapsed-nav-item-title d-none">문의관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/questionReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">문의목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/faqReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">자주하는질문(FAQ)</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
		            </ul>
		          </div>
		        </div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/productReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="package"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">제품관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/deliveryReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="shopping-cart"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">발주관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/brandReadList" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="map-pin"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">지점관리</span></span>
				        </div>
				    </a>
				</div><!-- parent pages-->
                <div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
				    <a class="nav-link label-1" href="/admin/schedule" role="button" data-bs-toggle="" aria-expanded="false">
				        <div class="d-flex align-items-center">
				            <span class="nav-link-icon" style="margin-bottom: 5px;"><span data-feather="calendar"></span></span>
				            <span class="nav-link-text-wrapper"><span class="nav-link-text">일정관리</span></span>
				        </div>
				    </a>
				</div>
				<div class="nav-item-wrapper" style="font-size: 16px; margin-top: 8px;">
					<a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-home">
                    <div class="d-flex align-items-center">
                      <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span>
                      </div>
                      <span class="nav-link-icon" style="margin-bottom: 5px;">
					  <span data-feather="users"></span></span><span class="nav-link-text">회원관리</span>
                    </div>
                  </a>
                  <div class="parent-wrapper label-1">
                    <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                      <li class="collapsed-nav-item-title d-none">회원관리
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberReadList" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">회원목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberApprove" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">가입신청목록</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
                      <li class="nav-item"><a class="nav-link" href="/admin/memberPosition" data-bs-toggle="" aria-expanded="false">
                          <div class="d-flex align-items-center"><span class="nav-link-text">부서/직급관리</span>
                          </div>
                        </a>
                        <!-- more inner pages-->
                      </li>
            </ul>
          </div>
        </div>
        <div class="navbar-vertical-footer">
          <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">간략히 보기</span></button>
        </div>
      </nav>
      <nav class="navbar navbar-top fixed-top navbar-expand" id="navbarDefault">
        <div class="collapse navbar-collapse justify-content-between">
          <div class="navbar-logo">

            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="/admin/main">
              <div class="d-flex align-items-center">
                  <p class="logo-text ms-2 d-none d-sm-block" style="font-size: 20px;">관리자전용 페이지</p>
              </div>
            </a>
          </div>
          
          <ul class="navbar-nav navbar-nav-icons flex-row">
            <li class="nav-item">
              <div class="theme-control-toggle fa-icon-wait px-2">
                <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" />
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
                <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
              </div>
            </li>
            
            
            <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-l ">
                  <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}" alt="" />

                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
                <div class="card position-relative border-0">
                  <div class="card-body p-0">
                    <div class="text-center pt-4 pb-3">
                      <div class="avatar avatar-xl ">
                        <img class="rounded-circle " th:src="@{|${awspath}/${user.image}|}" alt="" />

                      </div>
                      <h6 class="mt-2 text-black">[[${user.name}]]</h6>
                    </div>
                    
                  </div>
                  <div class="overflow-auto scrollbar" style="height: 3rem;">
                    <ul class="nav d-flex flex-column mb-2 pb-1">
                      <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="user"></span><span>마이페이지</span></a></li>
                    </ul>
                  </div>
                  <div class="card-footer p-0 border-top">
              
                    <div class="p-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout"> <span class="me-2" data-feather="log-out"> </span>로그아웃</a></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      
      
		<div class="content">
        
        <div class="mb-9">
          <div class="row align-items-center justify-content-between g-3 mb-4">
            <div class="col-auto">
              <h2 class="mb-0">회원 상세정보</h2>
            </div>
            <div class="col-auto">
              <div class="row g-3">
                <div class="col-auto">
                  <button class="btn btn-phoenix-danger"><a th:href="@{|/admin/memberDelete?id=${member.id}|}"><span class="fa-solid fa-trash-can me-2"></span>회원탈퇴</a></button>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row g-5">
            <div class="col-12 col-xxl-4">
              <div class="row g-3 g-xxl-0 h-100">
                <div class="col-12 col-md-7 col-xxl-12 mb-xxl-3">
                  <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between pb-3">
                      <div class="row align-items-center g-5 mb-3 text-center text-sm-start">
                        <div class="col-12 col-sm-auto mb-sm-2">
                          <div class="avatar avatar-5xl"><img class="rounded-circle" th:src="@{|${awspath}/${member.image}|}" alt="" /></div>
                        </div>
                        <div class="col-12 col-sm-auto flex-1">
                          <h3>[[${member.name}]]</h3>
                          <p class="text-800">가입일: [[${#temporals.format(member.createDate, 'yyyy-MM-dd HH:mm')}]]</p>
                          <div><a class="me-2" href="#!"><span class="fab fa-linkedin-in text-400 hover-primary"></span></a><a class="me-2" href="#!"><span class="fab fa-facebook text-400 hover-primary"></span></a><a href="#!"><span class="fab fa-twitter text-400 hover-primary"></span></a></div>
                        </div>
                      </div>
                      <div class="d-flex flex-between-center border-top border-dashed border-300 pt-4">
                        <div>
                          <h5>권한</h5>
                          <p class="fs-1 text-800 mb-0">[[${member.role}]]</p>
                        </div>
                        <div>
                          <h5>소속</h5>
                          <p class="fs-1 text-800 mb-0">[[${member.belong}]]</p>
                        </div>
                        <div>
                          <h5>부서</h5>
                          <p class="fs-1 text-800 mb-0">[[${member.department}]]&nbsp;</p>
                        </div>
                        <div>
                          <h5>직급</h5>
                          <p class="fs-1 text-800 mb-0"><span th:text="${positionMap.get(T(java.lang.Integer).parseInt(member.position ?: '0'))}"></span>&nbsp;</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-5 col-xxl-12 mb-xxl-3">
                  <div class="card h-100">
                    <div class="card-body pb-3">
                      
                      <div class="mb-4">
                        <h5 class="text-1000">아이디</h5>[[${member.username}]]
                      </div>
                      <div class="mb-4">
                        <h5 class="text-1000">핸드폰 번호</h5>[[${member.phone}]]
                      </div>
                      <div class="mb-4">
                        <h5 class="text-1000">주소</h5>[[${member.address}]]
                      </div>
                      <h5 class="text-1000">가맹점</h5>[[${brand.address1}]]&nbsp;[[${brand.title}]]
                    </div>
                  </div>
                </div>
                
                
              </div>
            </div>
            <div class="col-12 col-xxl-8">
              <div class="mb-6">
                <h3 class="mb-4 mt-2">발주 현황 <span class="text-700 fw-normal">([[${#lists.size(deliveries)}]])</span></h3>
                <div class="border-top border-bottom border-200" id="customerOrdersTable" data-list='{"valueNames":["order","total","payment_status","fulfilment_status","delivery_type","date"],"page":6,"pagination":true}'>
                  <div class="table-responsive scrollbar">
                    <table class="table fs--1 mb-0">
                      <thead>
                        <tr>
                          <th class="sort white-space-nowrap align-middle ps-0 pe-3" scope="col" data-sort="order" style="width:10%;">번호</th>
                          <th class="sort align-middle" scope="col" data-sort="total" style="width:20%;">주문번호</th>
                          <th class="sort align-middle white-space-nowrap pe-3" scope="col" data-sort="payment_status" style="width:25%;">주문목록</th>
                          <th class="sort align-middle white-space-nowrap text-start pe-3" scope="col" data-sort="fulfilment_status" style="width:14%;">주문가격</th>
                          <th class="sort align-middle white-space-nowrap text-start" scope="col" data-sort="delivery_type" style="width:12%;">배송상태</th>
                          <th class="sort align-middle" scope="col" data-sort="date" style="width:12%;">처리일자</th>
                        </tr>
                      </thead>
                      <tbody class="list" id="customer-order-table-body">
                        <tr th:each="delivery, loop : ${deliveries}" class="hover-actions-trigger btn-reveal-trigger position-static">
                          <td class="order align-middle white-space-nowrap ps-0"><a class="fw-semi-bold" href="#">#[[${#lists.size(deliveries)-loop.index}]]</a></td>
                          <td class="total align-middle fw-bold text-1000"><a class="total align-middle fw-bold text-1000" th:text="${delivery.uid}" th:href="@{|/admin/deliveryReadDetail?id=${delivery.id}|}"></a></td>
                          <td class="payment_status align-middle white-space-nowrap text-start fw-bold text-1000">[[${delivery.name}]]</td>
                          <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-1000">[[${delivery.total}]]원</td>
                          <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">
							  <div th:if="${delivery.statusList[#lists.size(delivery.statusList)-1].step eq '배송완료'}" class="badge badge-phoenix fs--1 badge-phoenix-success" style="width: 70%;">
							    <span class="fw-bold" th:text="${delivery.statusList[#lists.size(delivery.statusList)-1].step}"></span>
							  </div>
							  <div th:unless="${delivery.statusList[#lists.size(delivery.statusList)-1].step eq '배송완료'}" class="badge badge-phoenix fs--1 badge-phoenix-warning" style="width: 70%;">
							    <span class="fw-bold" th:text="${delivery.statusList[#lists.size(delivery.statusList)-1].step}"></span>
						  	  </div>
						  </td>
                          <td class="date align-middle white-space-nowrap fw-bold text-1000" th:text="${#temporals.format(delivery.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                    <div class="col-auto d-flex">
                      <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">전체보기<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                      <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                      <ul class="mb-0 pagination"></ul>
                      <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-6">
                <h3 class="mb-4">문의 내역 <span class="text-700 fw-normal">([[${#lists.size(questions)}]])</span></h3>
                <div class="border-200 border-top border-bottom" id="customerWishlistTable" data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":5,"pagination":true}'>
                  <div class="table-responsive scrollbar">
                    <table class="table fs--1 mb-0">
                      <thead>
                        <tr>
						  <th class="sort white-space-nowrap align-middle ps-0 pe-3" scope="col" style="width:8%;">번호</th>
						  <th class="sort align-middle" scope="col" data-sort="color" style="width:10%;">분류</th>
                          <th class="sort white-space-nowrap align-middle" scope="col" style="width:31%;" data-sort="products">제목</th>
                          <th class="sort align-middle" scope="col" data-sort="size" style="width:7%;">작성자</th>
                          <th class="sort align-middle" scope="col" data-sort="price" style="width:9%;">처리상태</th>
                          <th class="sort align-middle" scope="col" data-sort="total" style="width:10%;">등록일자</th>
                        </tr>
                      </thead>
                      <tbody class="list" id="customer-wishlist-table-body">
                        <tr th:each="question, loop : ${questions}" class="hover-actions-trigger btn-reveal-trigger position-static">
                          <td class="align-middle white-space-nowrap py-1"><a class="fw-semi-bold" href="#">#[[${#lists.size(questions)-loop.index}]]</a></td>
                          <td class="color align-middle white-space-nowrap fw-bold text-1000">[[${question.category}]]</td>
                          <td class="products align-middle fw-bold text-1000"><a class="d-flex align-items-center text-1000 text-hover-1000" th:href="@{|/admin/questionReadDetail?id=${question.id}|}">[[${question.title}]]</a></td>
                          <td class="size align-middle white-space-nowrap fw-bold text-1000">[[${question.writer}]]</td>
                          <td class="status align-middle white-space-nowrap text-1100">
							<div th:if="${question.status eq '답변대기'}" class="badge badge-phoenix fs--1 badge-phoenix-warning" style="width: 70%;">
							    <span class="fw-bold" th:text="${question.status}"></span>
							</div>
		                    <div th:if="${question.status eq '답변완료'}" class="badge badge-phoenix fs--1 badge-phoenix-success" style="width: 70%;">
		                   		<span class="fw-bold" th:text="${question.status}"></span>
		                    </div>
						  </td>
                          <td class="total align-middle fw-bold text-1000" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                       
                      </tbody>
                    </table>
                  </div>
                  <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                    <div class="col-auto d-flex">
                      <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">전체보기<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                      <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                      <ul class="mb-0 pagination"></ul>
                      <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                
        
        
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>

      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
            
    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../vendors/popper/popper.min.js"></script>
    <script src="../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../vendors/anchorjs/anchor.min.js"></script>
    <script src="../vendors/is/is.min.js"></script>
    <script src="../vendors/fontawesome/all.min.js"></script>
    <script src="../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../vendors/list.js/list.min.js"></script>
    <script src="../vendors/feather-icons/feather.min.js"></script>
    <script src="../vendors/dayjs/dayjs.min.js"></script>
    <script src="../vendors/choices/choices.min.js"></script>
    <script src="../vendors/echarts/echarts.min.js"></script>
    <script src="../vendors/dhtmlx-gantt/dhtmlxgantt.js"></script>
    <script src="../assets/js/phoenix.js"></script>
    <script src="../assets/js/projectmanagement-dashboard.js"></script>
    <script src="../assets/js/echarts-example.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
  </body>

</html>