<!--
name : SEULA LEE
date : 2023/11/22
mail : leeseulaseula@gmail.com
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img th:src="@{|https://seulabucket.s3.ap-northeast-2.amazonaws.com/${details.image}|}" height="500px" style="border-radius: 2%;"  alt="IMG-PRODUCT">

[[${details.name}]]/&#8361; [[${details.price}]]/[[${details.productId}]]/[[${details.about}]]

<form th:action="@{|/item/create?id=${details.id}|}" method="post">

    <input type="hidden" name="productId" th:value="${details.productId}">
    <input type="hidden" name="name" th:value="${details.name}">
    <input type="hidden" name="price" th:value="${details.price}">
    <input type="submit" value="장바구니에 담기">


    <a th:href="@{|/templates/product/delete?id=${details.id}|}">삭제</a>
    <a th:href="@{|/templates/product/update?id=${details.id}|}">수정</a>

</form>
</body>
</html>