<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Fran365</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<!-- ===============================================-->
	<!--    Favicons-->
	<!-- ===============================================-->
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
	<link rel="manifest" href="../assets/img/favicons/manifest.json">
	<meta name="msapplication-TileImage" content="../assets/img/favicons/mstile-150x150.png">
	<meta name="theme-color" content="#ffffff">
	<script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="/vendors/simplebar/simplebar.min.js"></script>
	<script src="/assets/js/config.js"></script>
	<script>
		document.documentElement.classList.add('navbar-horizontal');
	</script>


	<!-- ===============================================-->
	<!--    Stylesheets-->
	<!-- ===============================================-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
	<link href="/vendors/simplebar/simplebar.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
	<link href="/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
	<link href="/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
	<link href="/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
	<link href="/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
	<script>
		var phoenixIsRTL = window.config.config.phoenixIsRTL;
		if (phoenixIsRTL) {
			var linkDefault = document.getElementById('style-default');
			var userLinkDefault = document.getElementById('user-style-default');
			linkDefault.setAttribute('disabled', true);
			userLinkDefault.setAttribute('disabled', true);
			document.querySelector('html').setAttribute('dir', 'rtl');
		} else {
			var linkRTL = document.getElementById('style-rtl');
			var userLinkRTL = document.getElementById('user-style-rtl');
			linkRTL.setAttribute('disabled', true);
			userLinkRTL.setAttribute('disabled', true);
		}
	</script>
	<link href="/vendors/leaflet/leaflet.css" rel="stylesheet">
	<link href="/vendors/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
	<link href="/vendors/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-vertical navbar-expand-lg">
	<script>
		var navbarStyle = window.config.config.phoenixNavbarStyle;
		if (navbarStyle && navbarStyle !== 'transparent') {
			document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
		}
	</script>

</nav>
<nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop" style="display:none;">
	<div class="navbar-logo">

		<button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
		<!--<a class="navbar-brand me-1 me-sm-3" href="/index">
            <div class="d-flex align-items-center">
                <div class="d-flex align-items-center"><img src="/resources/images/logo7.png" width="210" />
                    &lt;!&ndash; <p class="logo-text ms-2 d-none d-sm-block"><img src="/resources/images/logo4.png" width="180" style="margin-left: 10px;" /></p> &ndash;&gt;

                </div>
            </div>
        </a>-->
	</div>
	<div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
		<ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">


			<li class="nav-item">
				<a class="nav-link lh-1" href="/board/notice">
					<span class="uil fs-0 me-2" data-feather="bell"></span>공지사항
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link lh-1" href="/board/list">
					<span class="uil fs-0 me-2" data-feather="help-circle"></span>Q&A게시판
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link lh-1" href="/board/FAQ">
					<span class="uil fs-0 me-2" data-feather="check-square"></span>F.A.Q
				</a>
			</li>
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-0 me-2" data-feather="share-2"></span>자원공유</a>
				<ul class="dropdown-menu navbar-dropdown-caret">
					<li><a class="dropdown-item" href="/resource/readList">
						<div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>공유게시판
						</div>
					</a>
					</li>

				</ul>
			</li>
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-0 me-2" data-feather="map-pin"></span>지점현황</a>
				<ul class="dropdown-menu navbar-dropdown-caret">
					<li><a class="dropdown-item" href="/brand/create">
						<div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>지점 등록
						</div>
					</a>
					</li>
					<li><a class="dropdown-item" href="/brand/list">
						<div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>지점 목록
						</div>
					</a>
					</li>

				</ul>
			</li>
			<li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-0 me-2" data-feather="send"></span>F.Q.A</a>
				<ul class="dropdown-menu navbar-dropdown-caret">
					<li><a class="dropdown-item" href="/board/FAQ">
						<div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="info"></span>F.Q.A게시판
						</div>
					</a>
					</li>
				</ul>
			</li>
			<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link lh-1" href="/admin/main">
                        <span class="uil fs-0 me-2" data-feather="lock"></span>관리자페이지
                    </a>
                </li>
		</ul>
	</div>
	<ul class="navbar-nav navbar-nav-icons flex-row">


		<li class="nav-item"><a class="nav-link px-2 icon-indicator " href="../../../apps/e-commerce/landing/cart.html" role="button"><span class="text-700" data-feather="shopping-cart" style="height:20px;width:20px;"></span></a></li>
		<li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
			<div class="avatar avatar-l ">
				<img class="rounded-circle " th:src="@{|${awspath}/${member.image}|}"  alt="" />

			</div>
		</a>
			<div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
				<div class="card position-relative border-0">
					<div class="card-body p-0">
						<div class="text-center pt-4 pb-3">
							<div class="avatar avatar-xl ">
								<img class="rounded-circle " th:src="@{|${awspath}/${member.image}|}"  alt="" />

							</div>
							<h6 class="mt-2 text-black">[[${member.name}]]</h6>
						</div>

					</div>
					<div class="overflow-auto scrollbar" style="height: 10rem;">
						<ul class="nav d-flex flex-column mb-2 pb-1">
							<li class="nav-item"><a class="nav-link px-3" href="/member/readDetail"> <span class="me-2 text-900" data-feather="user"></span><span>프로필</span></a></li>
							<li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="pie-chart"></span>결재현황</a></li>
							<li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="lock"></span>Posts &amp; 회원탈퇴</a></li>
						</ul>

						<div class="px-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout"> <span class="me-2" data-feather="log-out"> </span>Sign out</a></div>
					</div>

				</div>
			</div>
		</li>
	</ul>
</nav>
<script>
	var navbarVertical = document.querySelector('.navbar-vertical');
	navbarVertical.remove();
	navbarTop.removeAttribute('style');
</script>


</main>

	<main class="alternate-landing" style="--phoenix-scroll-margin-top: 1.2rem;">

		<section class="overflow-hidden rotating-earth-container pb-5 pb-md-0 pt-12">
			<div class="container-small px-lg-7 px-xxl-3">
				<div class="row">
					<div class="col-lg-6 text-center text-lg-start">
						<h5 class="text-info mb-3">One-stop solution</h5>
						<h2 class="mb-2 lh-base">Used by millions of users</h2>
						<h1 class="fs-4 fs-sm-6 mb-3 text-gradient-info fw-black">Fran365 </h1>
						<p class="mb-10">Fran365  프랜차이즈 RPA(업무자동화) 솔루션</p>
						<div class="row gy-6">
							<div class="col-sm-6 text-center text-lg-start"><img class="mb-4 d-dark-none" src="../../assets/img/icons/lightning-speed.png" alt="" /><img class="mb-4 d-light-none" src="../../assets/img/icons/lightning-speed-dark.png" alt="" />
								<h4 class="mb-2">Lightning Speed</h4>
								<p>Grow fast with Phoenix!</p>
							</div>
							<div class="col-sm-6 text-center text-lg-start"><img class="mb-4 d-dark-none" src="../../assets/img/icons/best-statistics.png" alt="" /><img class="mb-4 d-light-none" src="../../assets/img/icons/best-statistics-dark.png" alt="" />
								<h4 class="mb-2">Best Statistics</h4>
								<p>Get all reports at hand!</p>
							</div>
							<div class="col-sm-6 text-center text-lg-start"><img class="mb-4 d-dark-none" src="../../assets/img/icons/all-night.png" alt="" /><img class="mb-4 d-light-none" src="../../assets/img/icons/all-night-dark.png" alt="" />
								<h4 class="mb-2">All-night Protection</h4>
								<p>Security Assured: Ensure data Safety with Phoenix!</p>
							</div>
							<div class="col-sm-6 text-center text-lg-start"><img class="mb-4 d-dark-none" src="../../assets/img/icons/editable-features.png" alt="" /><img class="mb-4 d-light-none" src="../../assets/img/icons/editable-features-dark.png" alt="" />
								<h4 class="mb-2">Editable Features</h4>
								<p>Edits made easy and safe!</p>
							</div>
						</div>
					</div>
					<div class="col-lg-auto">
						<div class="position-relative position-lg-absolute rotating-earth">
							<div class="lottie d-dark-none" data-options='{"path":"../../assets/img/animated-icons/rotating-earth.json"}'></div>
							<div class="lottie d-light-none" data-options='{"path":"../../assets/img/animated-icons/rotating-earth-dark.json"}'></div><img class="position-absolute d-dark-none" src="../../assets/img/spot-illustrations/earth-plane.png" alt="" /><img class="position-absolute d-light-none" src="../../assets/img/spot-illustrations/earth-plane-dark.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="counter-container">
			<div class="position-absolute start-0 end-0 w-100 counter-overlay" style="transform: skewY(-8deg)"></div>
			<div class="container-small position-relative">
				<div class="row gx-0 gy-8 justify-content-center">
					<div class="col-sm-6 col-md-auto me-md-5 pe-md-5 border-end-md border-dashed text-center order-2 order-md-0">
						<h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3"><span>$</span><span data-countup='{"endValue":8976,"duration":5,"suffix":""}'></span></h1>
						<h4>Revenue</h4>
					</div>
					<div class="col-sm-6 col-md-auto me-md-5 pe-md-5 border-end-md border-dashed text-center order-1 order-md-0">
						<h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3"><span data-countup='{"endValue":308,"duration":10,"suffix":""}'></span><span>K</span></h1>
						<h4>User</h4>
					</div>
					<div class="col-sm-6 col-md-auto me-md-5 pe-md-5 border-end-md border-dashed text-center">
						<h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3" data-countup='{"endValue":12,"duration":0.5,"suffix":""}'></h1>
						<h4>Countries</h4>
					</div>
					<div class="col-sm-6 col-md-auto text-center">
						<h1 class="fs-5 fs-lg-7 fw-bolder text-info mb-3" data-countup='{"endValue":125,"duration":15,"suffix":"+"}'></h1>
						<h4>Stories</h4>
					</div>
				</div>
			</div>
		</section>

		<section class="pt-10" id="blog">

			<div class="container-small px-lg-7 px-xxl-3">
				<div class="text-center mb-5 mb-8">
					<h5 class="text-info mb-3">Blogs</h5>
					<h2 class="mb-2">Our most viewed articles</h2>
				</div>
				<div class="row gx-3 gy-7">
					<div class="col-lg-4">
						<div class="blog-card"><img class="w-100 rounded-3" src="/assets/img/blog/blog-5.png" alt="" />
							<div class="d-flex align-items-cente mt-3"><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-eye fs--1"></span><span class="fs--2 ms-1 lh-1">2563</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-heart fs--1"></span><span class="ms-1 fs--2 lh-1">125</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!"><span class="fa-solid fa-comment fs--1"></span><span class="ms-1 fs--2 lh-1">125</span></a></div><span class="badge bg-primary mb-2 mt-4">SEO</span>
							<h4 class="mb-3 pe-sm-5 lh-lg">Top 10 ways to Ace SEO for your business</h4><a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="#!" role="button">See more<span class="fa-solid fa-angle-right ms-2"></span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog-card"><img class="w-100 rounded-3" src="/assets/img/blog/blog-6.png" alt="" />
							<div class="d-flex align-items-cente mt-3"><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-eye fs--1"></span><span class="fs--2 ms-1 lh-1">1256</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-heart fs--1"></span><span class="ms-1 fs--2 lh-1">325</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!"><span class="fa-solid fa-comment fs--1"></span><span class="ms-1 fs--2 lh-1">32</span></a></div><span class="badge bg-primary mb-2 mt-4">Marketing</span>
							<h4 class="mb-3 pe-sm-5 lh-lg">Top 12 Marketing strategies you can take</h4><a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="#!" role="button">See more<span class="fa-solid fa-angle-right ms-2"></span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="blog-card"><img class="w-100 rounded-3" src="../../assets/img/blog/blog-7.png" alt="" />
							<div class="d-flex align-items-cente mt-3"><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-eye fs--1"></span><span class="fs--2 ms-1 lh-1">142</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center me-3" href="#!"><span class="fa-solid fa-heart fs--1"></span><span class="ms-1 fs--2 lh-1">123</span></a><a class="btn-link text-decoration-none text-800 d-flex align-items-center" href="#!"><span class="fa-solid fa-comment fs--1"></span><span class="ms-1 fs--2 lh-1">22</span></a></div><span class="badge bg-primary mb-2 mt-4">Marketing</span>
							<h4 class="mb-3 pe-sm-5 lh-lg">The top 7 methods to improve as a marketer</h4><a class="btn-link px-0 d-flex align-items-center fs--1 fw-bold" href="#!" role="button">See more<span class="fa-solid fa-angle-right ms-2"></span></a>
						</div>
					</div>
				</div>
			</div>
			<!-- end of .container-->

		</section>

		<section class="pb-10 pb-xl-14">

			<div class="container-small px-lg-7 px-xxl-3">
				<div class="text-center mb-7">
					<h5 class="text-info mb-3">Contact</h5>
					<h2 class="mb-2">Choose the best deal for you</h2>
				</div>
				<div class="row">
					<div class="col-12 mb-10">
						<div class="googlemap" data-googlemap="data-googlemap" data-gmap="data-gmap" data-latlng="40.7228022,-74.0020158" data-scrollwheel="false" data-zoom="15" style="height: 381px; border-radius:1.5rem;">
							<div class="marker-content py-3">
								<h5>Google map</h5>
								<p>A nice template for your site.<br />Customize it as you want.</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>

	</main>

	<div th:fragment="footer">
		<footer class="footer position-absolute">
			<div class="row g-0 justify-content-between align-items-center h-100">
				<div class="col-12 col-sm-auto text-left">
					<p class="mb-0 mt-2 text-900" style="font-size:18px;"><span style="font-weight: bold;">Fran365</span><span class="d-none d-sm-inline-block"></span>&nbsp;&nbsp;<span class="mb-0 mt-2 text-700" style="font-size: 14px;">프랜차이즈 RPA(업무자동화) 솔루션</span>
					<p>&copy;<a class="mx-1" href="https://themewagon.com" style="font-size: 14px;">Fran365 Co., Ltd. All rights reserved.</a></p>
				</div>
				<div class="col-12 col-sm-auto text-center">
					<p class="mb-0 text-600">v1.13.0</p>
				</div>
			</div>
		</footer>
	</div>


	<!-- ===============================================-->
	<!--    JavaScripts-->
	<!-- ===============================================-->

	<script src="/vendors/lodash/lodash.min.js"></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
	<script src="/vendors/list.js/list.min.js"></script>
	<script src="/vendors/feather-icons/feather.min.js"></script>
	<script src="/vendors/dayjs/dayjs.min.js"></script>
	<script src="/assets/js/phoenix.js"></script>
	<script src="/vendors/bigpicture/BigPicture.js"></script>
	<script src="/vendors/lottie/lottie.min.js"></script>
	<script src="/vendors/countup/countUp.umd.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbaQGvhe7Af-uOMJz68NWHnO34UjjE7Lo&callback=initMap" async></script>

<script src="/vendors/popper/popper.min.js"></script>
<script src="/vendors/bootstrap/bootstrap.min.js"></script>
<script src="/vendors/anchorjs/anchor.min.js"></script>
<script src="/vendors/is/is.min.js"></script>
<script src="/vendors/fontawesome/all.min.js"></script>
<script src="/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="/vendors/list.js/list.min.js"></script>
<script src="/vendors/feather-icons/feather.min.js"></script>
<script src="/vendors/dayjs/dayjs.min.js"></script>
<script src="/assets/js/phoenix.js"></script>
<script src="/vendors/echarts/echarts.min.js"></script>
<script src="/vendors/leaflet/leaflet.js"></script>
<script src="/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
<script src="/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
<script src="/assets/js/ecommerce-dashboard.js"></script>

</body>
</html>