<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="google-signin-client_id" content="617732929726-kpj7mplqk1ht9s2lgnccb38i9nh7ktft.apps.googleusercontent.com">
</head>
<body>
<!-- google login -->
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>






<form action="/login"  method="post">
<p>아이디:<input type="text" name="username" id="username">
<p>비밀번호:<input type="password" name="password" id="password">
<input type="submit" value="로그인">
</form>
<a href="/member/findId">아이디 찾기</a>
<a href="/member/sendEmail">비밀번호 찾기</a>

<a id="GgCustomLogin" href="javascript:void(0)">
            <span>Login with Google</span>
        </a>



<div class="g-signin2" data-onsuccess="onSignIn"></div>




<script>
    // Function to be executed when the page loads
    window.onload = function () {
        init(); // Call the init function to initialize Google Sign-In
    };

    function init() {
        gapi.load('auth2', function () {
            gapi.auth2.init();
            var options = new gapi.auth2.SigninOptionsBuilder();
            options.setPrompt('select_account');
            options.setScope('email profile openid https://www.googleapis.com/auth/user.birthday.read');

            // Attach click handler to the element with id 'GgCustomLogin'
            gapi.auth2.getAuthInstance().attachClickHandler('GgCustomLogin', options, onSignIn, onSignInFailure);
        });
    }

    function onSignIn(googleUser) {
        var access_token = googleUser.getAuthResponse().access_token;

        // Get the user's information
        var profile = googleUser.getBasicProfile();
        var userId = profile.getId();
        var userName = profile.getName();
        var userEmail = profile.getEmail();

        // Perform your AJAX request to the server for further processing
        $.ajax({
            url: 'http://localhost:8080/login/oauth2/code/google',
            data: {
                userId: userId,
                userName: userName,
                userEmail: userEmail,
                access_token: access_token
            },
            method: 'POST', // Use POST for more secure data transfer
            success: function (response) {
                console.log(response);

                // Redirect to the index.html page
                window.location.href = '/index.html'; // Change the URL to your actual index.html location
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function onSignInFailure(error) {
        console.log(error);
    }
</script>
<script>

    function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        console.log('statusChangeCallback');
        console.log(response);                   // The current login status of the person.
        if (response.status === 'connected') {   // Logged into your webpage and Facebook.
            testAPI();
        } else {                                 // Not logged into your webpage or we are unable to tell.
            document.getElementById('status').innerHTML = 'Please log ' +
                'into this webpage.';
        }
    }


    function checkLoginState() {               // Called when a person is finished with the Login Button.
        FB.getLoginStatus(function(response) {   // See the onlogin handler
            statusChangeCallback(response);
        });
    }


    window.fbAsyncInit = function() {
        FB.init({
            appId      : '235097886090801',
            cookie     : true,                     // Enable cookies to allow the server to access the session.
            xfbml      : true,                     // Parse social plugins on this webpage.
            version    : 'v18.0'           // Use this Graph API version for this call.
        });


        FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
            statusChangeCallback(response);        // Returns the login status.
        });
    };

    function testAPI() {
        console.log('Welcome! Fetching your information.... ');
        FB.api('/me?fields=id,name,email,gender', function(response) {
            console.log('Successful login for: ' + response.name);
            console.log('Email: ' + response.email);
            console.log('Gender: ' + response.gender);

            // 여기서 가져온 정보를 원하는 대로 처리할 수 있습니다.

            document.getElementById('status').innerHTML =
                response.name + '님 로그인 되셨습니다.';
        });
    }

</script>

<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script></body>
<!-- The JS SDK Login Button -->

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</body>
</html>