<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">

    <div class="row g-5">
        <div class="col-12 col-xxl-4">
            <div class="row g-3 g-xxl-0 h-100">
                <div class="col-12 col-md-5 col-xxl-12 mb-xxl-3" style="margin-left: 120px">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-between pb-3">
                            <div class="row align-items-center g-5 mb-3 text-center text-sm-start">
                                <div class="col-12 col-sm-auto flex-1">
                                    <h3>구매 목록</h3>
                                </div>
                            </div>
                            <div class="card mb-3" th:each="purchase :  ${history}">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex">
                                            <p class="mb-0 fs--1 fw-semi-bold text-700 date"
                                               th:text="${purchase.createDate}"><span
                                                    class="text-500"> . 2:15 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="deals-items-head d-flex align-items-center mb-2"><a
                                            class="text-primary fw-bold line-clamp-1 me-3 mb-0 fs-1"
                                            href="../../apps/crm/deal-details.html"
                                            th:text="${purchase.seller}"></a>
                                        <p class="ms-auto fs--1 text-1100 fw-semi-bold mb-0 deals-revenue"
                                           th:text=" '$' + ${purchase.price}">
                                        </p>
                                    </div>
                                    <div class="deals-company-agent d-flex flex-between-center">
                                        <div class="d-flex align-items-center"><span
                                                class="text-success"
                                                data-feather="clipboard"></span>
                                            <p class="text-800 fw-bold fs--1 mb-0"
                                               th:text="${purchase.stockName}"></p>
                                        </div>
                                        <div class="d-flex align-items-center"><span
                                                class="text-primary"
                                                data-feather="package"></span>
                                            <p class="text-800 fw-bold fs--1 mb-0"
                                               th:text="${purchase.quantity} + ' 개'"></p>
                                        </div>
                                    </div>
                                    <table class="mb-4 w-100 table-stats table-stats">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="dollar-sign"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        구매한
                                                        갯수 </p>
                                                </div>
                                            </td>

                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${purchase.quantity}">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="dollar-sign"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        총 구매
                                                        금액</p>
                                                </div>
                                            </td>

                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${purchase.price}">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="user"
                                                        style="width:16px; height:16px"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        지 점
                                                        명</p>
                                                </div>
                                            </td>
                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100 d-flex align-items-center gap-2"
                                                   th:text="${purchase.seller}">
                                                    <a href="#!"> <span
                                                            class="fa-solid fa-square-phone text-700"></span></a><a
                                                        href="#!"> <span
                                                        class="fa-solid fa-square-envelope text-700"></span></a><a
                                                        href="#!"> <span
                                                        class="fab fa-whatsapp-square text-700"></span></a>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="calendar"
                                                        style="width:16px; height:16px"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        구매 날짜
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${purchase.createDate}">
                                                </p>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-5 col-xxl-12 mb-xxl-3" style="margin-left: 20px">
                    <div class="card h-100">
                        <div class="card-body pb-3">
                            <div class="d-flex align-items-center mb-3">
                                <h3 class="me-1">판매목록</h3>
                                <button class="btn btn-link p-0"><span class="fas fa-pen fs-0 ms-3 text-500"></span>
                                </button>
                            </div>
                            <div class="card mb-3" th:each="seller :  ${sell}">
                                <div class="card-body">
                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                        <div class="d-flex"><span class="me-2" data-feather="clock"
                                                                  style="stroke-width:2;"></span>
                                            <p class="mb-0 fs--1 fw-semi-bold text-700 date"
                                               th:text="${seller.createDate}"><span
                                                    class="text-500"> . 2:15 PM</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="deals-items-head d-flex align-items-center mb-2"><a
                                            class="text-primary fw-bold line-clamp-1 me-3 mb-0 fs-1"
                                            href="../../apps/crm/deal-details.html"
                                            th:text="${seller.purchaser}"></a>
                                        <p class="ms-auto fs--1 text-1100 fw-semi-bold mb-0 deals-revenue"
                                           th:text=" '$' + ${seller.price}">
                                        </p>
                                    </div>
                                    <div class="deals-company-agent d-flex flex-between-center">
                                        <div class="d-flex align-items-center"><span
                                                class="text-success"
                                                data-feather="clipboard"></span>
                                            <p class="text-800 fw-bold fs--1 mb-0"
                                               th:text="${seller.stockName}"></p>
                                        </div>
                                        <div class="d-flex align-items-center"><span
                                                class="text-primary"
                                                data-feather="package"></span>
                                            <p class="text-800 fw-bold fs--1 mb-0"
                                               th:text="${seller.quantity} + ' 개'"></p>
                                        </div>
                                    </div>
                                    <table class="mb-4 w-100 table-stats table-stats">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="dollar-sign"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        구매한
                                                        갯수 </p>
                                                </div>
                                            </td>

                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${seller.quantity}">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="dollar-sign"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        총 구매
                                                        금액</p>
                                                </div>
                                            </td>

                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${seller.price}">
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="user"
                                                        style="width:16px; height:16px"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        지 점
                                                        명</p>
                                                </div>
                                            </td>
                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100 d-flex align-items-center gap-2"
                                                   th:text="${seller.purchaser}">
                                                    <a href="#!"> <span
                                                            class="fa-solid fa-square-phone text-700"></span></a><a
                                                        href="#!"> <span
                                                        class="fa-solid fa-square-envelope text-700"></span></a><a
                                                        href="#!"> <span
                                                        class="fab fa-whatsapp-square text-700"></span></a>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="py-1">
                                                <div class="d-flex align-items-center"><span
                                                        class="me-2 text-700"
                                                        data-feather="calendar"
                                                        style="width:16px; height:16px"></span>
                                                    <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                        구매 날짜
                                                    </p>
                                                </div>
                                            </td>
                                            <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                            <td class="py-1">
                                                <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                   th:text="${seller.createDate}">
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content kanban-deals-content">
                <div class="px-100 px-lg-6" data-kanban-container="data-kanban-container">

                    <div class="deals">
                        <div class="deals-col me-4 ml-5">
                            <div class="d-flex align-items-center justify-content-between position-sticky top-0 z-index-1 bg-soft">
                            </div>
                            <h3>구매 목록</h3><br><br><br>
                            <div class=" deals-items-container">
                                <div class="scrollbar deals-items-container">
                                    <div class="w-100 min-vh-50">
                                        <div>
                                            <div class="card mb-3" th:each="purchase :  ${history}">
                                                <div class="card-body"><a
                                                        class="dropdown-indicator-icon position-absolute text-700"
                                                        href="#collapseWidthDeals-1" role="button"
                                                        data-bs-toggle="collapse"
                                                        aria-expanded="false"
                                                        aria-controls="collapseWidthDeals-1"><span
                                                        class="fa-solid fa-angle-down"></span></a>
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="d-flex"><span class="me-2" data-feather="clock"
                                                                                  style="stroke-width:2;"></span>
                                                            <p class="mb-0 fs--1 fw-semi-bold text-700 date"
                                                               th:text="${purchase.createDate}"><span
                                                                    class="text-500"> . 2:15 PM</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="deals-items-head d-flex align-items-center mb-2"><a
                                                            class="text-primary fw-bold line-clamp-1 me-3 mb-0 fs-1"
                                                            href="../../apps/crm/deal-details.html"
                                                            th:text="${purchase.seller}"></a>
                                                        <p class="ms-auto fs--1 text-1100 fw-semi-bold mb-0 deals-revenue"
                                                           th:text=" '$' + ${purchase.price}">
                                                        </p>
                                                    </div>
                                                    <div class="deals-company-agent d-flex flex-between-center">
                                                        <div class="d-flex align-items-center"><span
                                                                class="text-success"
                                                                data-feather="clipboard"></span>
                                                            <p class="text-800 fw-bold fs--1 mb-0"
                                                               th:text="${purchase.stockName}"></p>
                                                        </div>
                                                        <div class="d-flex align-items-center"><span
                                                                class="text-primary"
                                                                data-feather="package"></span>
                                                            <p class="text-800 fw-bold fs--1 mb-0"
                                                               th:text="${purchase.quantity} + ' 개'"></p>
                                                        </div>
                                                    </div>
                                                    <div class="collapse" id="collapseWidthDeals-1">
                                                        <table class="mb-4 w-100 table-stats table-stats">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="dollar-sign"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            구매한
                                                                            갯수 </p>
                                                                    </div>
                                                                </td>

                                                                <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${purchase.quantity}">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="dollar-sign"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            총 구매
                                                                            금액</p>
                                                                    </div>
                                                                </td>

                                                                <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${purchase.price}">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="user"
                                                                            style="width:16px; height:16px"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            지 점
                                                                            명</p>
                                                                    </div>
                                                                </td>
                                                                <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100 d-flex align-items-center gap-2"
                                                                       th:text="${purchase.seller}">
                                                                        <a href="#!"> <span
                                                                                class="fa-solid fa-square-phone text-700"></span></a><a
                                                                            href="#!"> <span
                                                                            class="fa-solid fa-square-envelope text-700"></span></a><a
                                                                            href="#!"> <span
                                                                            class="fab fa-whatsapp-square text-700"></span></a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="calendar"
                                                                            style="width:16px; height:16px"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            구매 날짜
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                                <td class="py-1 d-none d-sm-block pe-sm-2">:</td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${purchase.createDate}">
                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="deals-col me-4">
                            <div class="d-flex align-items-center justify-content-between position-sticky top-0 z-index-1 bg-soft">

                            </div>
                            <h3>판매 목록</h3><br><br><br>
                            <div class=" deals-items-container">
                                <div class="scrollbar deals-items-container">
                                    <div class="w-100 min-vh-50" data-sortable="data-sortable">
                                        <div>
                                            <div class="card mb-3" th:each="seller :  ${sell}">
                                                <div class="card-body"><a
                                                        class="dropdown-indicator-icon position-absolute text-700"
                                                        href="#collapseWidthDeals-2" role="button"
                                                        data-bs-toggle="collapse"
                                                        aria-expanded="false"
                                                        aria-controls="collapseWidthDeals-1"><span
                                                        class="fa-solid fa-angle-down"></span></a>
                                                    <div class="d-flex align-items-center justify-content-between mb-3">
                                                        <div class="d-flex"><span class="me-2"
                                                                                  data-feather="clock"
                                                                                  style="stroke-width:2;"></span>
                                                            <p class="mb-0 fs--1 fw-semi-bold text-700 date"
                                                               th:text="${seller.createDate}"><span
                                                                    class="text-500"></span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="deals-items-head d-flex align-items-center mb-2">
                                                        <a
                                                                class="text-primary fw-bold line-clamp-1 me-3 mb-0 fs-1"
                                                                href="../../apps/crm/deal-details.html"
                                                                th:text="${seller.purchaser}"></a>
                                                        <p class="ms-auto fs--1 text-1100 fw-semi-bold mb-0 deals-revenue"
                                                           th:text=" '$' + ${seller.price}">
                                                        </p>
                                                    </div>
                                                    <div class="deals-company-agent d-flex flex-between-center">
                                                        <div class="d-flex align-items-center"><span
                                                                class="text-success"
                                                                data-feather="clipboard"></span>
                                                            <p class="text-800 fw-bold fs--1 mb-0"
                                                               th:text="${seller.stockName}"></p>
                                                        </div>
                                                        <div class="d-flex align-items-center"><span
                                                                class="text-primary"
                                                                data-feather="package"></span>
                                                            <p class="text-800 fw-bold fs--1 mb-0"
                                                               th:text="${seller.quantity} + ' 개'"></p>
                                                        </div>
                                                    </div>
                                                    <div class="collapse" id="collapseWidthDeals-2">
                                                        <table class="mb-4 w-100 table-stats table-stats">
                                                            <tr>
                                                                <th></th>
                                                                <th></th>
                                                                <th></th>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="dollar-sign"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            구매한
                                                                            갯수 </p>
                                                                    </div>
                                                                </td>

                                                                <td class="py-1 d-none d-sm-block pe-sm-2">
                                                                    :
                                                                </td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${seller.quantity}">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="dollar-sign"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            총 구매
                                                                            금액</p>
                                                                    </div>
                                                                </td>

                                                                <td class="py-1 d-none d-sm-block pe-sm-2">
                                                                    :
                                                                </td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${seller.price}">
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="user"
                                                                            style="width:16px; height:16px"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            지 점
                                                                            명</p>
                                                                    </div>
                                                                </td>
                                                                <td class="py-1 d-none d-sm-block pe-sm-2">
                                                                    :
                                                                </td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100 d-flex align-items-center gap-2"
                                                                       th:text="${seller.purchaser}">
                                                                        <a href="#!"> <span
                                                                                class="fa-solid fa-square-phone text-700"></span></a><a
                                                                            href="#!"> <span
                                                                            class="fa-solid fa-square-envelope text-700"></span></a><a
                                                                            href="#!"> <span
                                                                            class="fab fa-whatsapp-square text-700"></span></a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="py-1">
                                                                    <div class="d-flex align-items-center"><span
                                                                            class="me-2 text-700"
                                                                            data-feather="calendar"
                                                                            style="width:16px; height:16px"></span>
                                                                        <p class="fw-semi-bold fs--1 mb-0 text-700">
                                                                            구매 날짜
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                                <td class="py-1 d-none d-sm-block pe-sm-2">
                                                                    :
                                                                </td>
                                                                <td class="py-1">
                                                                    <p class="ps-6 ps-sm-0 fw-semi-bold fs--1 mb-0 mb-0 pb-3 pb-sm-0 text-1100"
                                                                       th:text="${seller.createDate}">
                                                                    </p>
                                                                </td>
                                                            </tr>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

</div>


</html>