<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="create" method="post" enctype="multipart/form-data">

    <input type="text" name="category" placeholder="category">
    <input type="text" name="deadline" placeholder="deadline">
    <input type="text" name="depart" placeholder="depart">
    <input type="file" name="filename" placeholder="file">
    <input type="text" name="reason" placeholder="reason">
    <input type="text" name="status" placeholder="status">

    <input type="submit" value="전송">


</form>
</body>
</html>