<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">

<th:block th:each="docu : ${docus}">
  id: <a th:text="${docu.id}" th:href="@{|/document/readDetailTemp?id=${docu.id}|}"></a>
  <br>
  category: <a th:text="${docu.category}"></a>
  <br>
  status: <a th:text="${docu.status}"></a>
  <br>
  department: <a th:text="${docu.department}"></a>
  <br>
  deadline: <a th:text="${docu.deadline}"></a>

  <br><br>
</th:block>


</div>
</html>