<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="update" method="post" enctype="multipart/form-data">
    <input type="text" name="category" placeholder="category" th:value="${docu.category}">
    <input type="text" name="status" placeholder="status" th:value="${docu.status}">
    <input type="text" name="reason" placeholder="reason" th:value="${docu.reason}">
    <input type="text" name="depart" placeholder="depart" th:value="${docu.depart}">
    <input type="text" name="deadline" placeholder="deadline" th:value="${docu.deadline}">
    <input type="text" name="receiver" placeholder="receiver" th:value="${docu.receiver}">
    <input type="file" name="filename" placeholder="file" th:value="${docu.filename}">
    <input type="submit" value="전송">
</form>


</body>
</html>