<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
    <div class="container-small" style="margin-top: 70px">
        <div class="row g-3 mb-6">
            <div class="col-12 col-lg-8">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="border-bottom border-dashed border-300 pb-10">
                            <div class="row align-items-center g-3 g-sm-5 text-center text-sm-start">
                                <div class="col-12 col-sm-auto">
                                    <input class="d-none" id="avatarFile" type="file"/>
                                    <label class="cursor-pointer avatar avatar-5xl" for="avatarFile"><img
                                            class="rounded-circle" th:src="@{|${awspath}/${member.image}|}"
                                            alt=""/></label>
                                </div>
                                <div class="col-12 col-sm-auto flex-1">
                                    <h3 th:text="${member.getName()} + ' 님'"></h3>
                                    <p class="text-800">Joined 3 months ago</p>
                                    <div><a class="me-2" href="#!"><span
                                            class="fab fa-linkedin-in text-400 hover-primary"></span></a><a class="me-2"
                                                                                                            href="#!"><span
                                            class="fab fa-facebook text-400 hover-primary"></span></a><a href="#!"><span
                                            class="fab fa-twitter text-400 hover-primary"></span></a></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-between-center pt-7">
                            <div th:each="sale, iterStat : ${sales}" th:if="${iterStat.index lt 3}">
                                <div>
                                    <h6 class="mb-1 text-800"
                                        th:text="${(iterStat.index == 0) ? '이번 달 매출' : sale.date + '월 매출'}"></h6>
                                    <h4 class="fs-1 text-1000 mb-0" th:text="${sale.income} + '원'"></h4>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-warning rounded-pill w-5" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><span class="fas fa-shopping-cart me-2"></span>매출관리
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="border-bottom border-dashed border-300 pb-2">
                            <h4 class="mb-3 lh-sm lh-xl-1"
                                th:text="${brand.getAddress1()} +' ' +${brand.getTitle()} + ' 재고'">
                                <button class="btn btn-link p-0" type="button"><span
                                        class="fas fa-edit fs--1 ms-3 text-500"></span></button>
                            </h4>
                        </div>
                        <div class="pt-4 mb-7 mb-lg-4 mb-xl-2">
                            <div class="row justify-content-between">
                                <div th:each="stock : ${brand.getStockList()}">
                                    <h6 class="text-800 mb-3"
                                        th:text="${stock.getName() + ' : ' + stock.getQuantity()}"></h6>
                                </div>
                                <button class="btn btn-outline-primary rounded-pill me-1 mb-1" type="button"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal2">재고 편경
                                </button>
                            </div>

                        </div>
                        <div class="border-top border-dashed border-300 pt-4">
                            <div class="row flex-between-center mb-2">
                                <div class="col-auto">
                                    <h5 class="text-1000 mb-0">Email</h5>
                                </div>
                                <div class="col-auto" th:text="${member.getUsername()}"></div>
                            </div>
                            <div class="row flex-between-center">
                                <div class="col-auto">
                                    <h5 class="text-1000 mb-0">Phone</h5>
                                </div>
                                <div class="col-auto" th:text="${member.getPhone()}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div style="margin-top: 20px;">
            <table class="table fs--1 mb-0" style="width: 100%;">

                <thead style="background-color: #007bff; color: #fff; font-size: 1.5em;">
                <tr>
                    <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:200px;">제품명</th>
                    <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:200px;">주소</th>
                    <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:200px;">유통기한</th>
                    <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:250px;">잔여 수량
                    </th>
                    <th class="sort white-space-nowrap align-middle ps-4" scope="col" style="width:250px;">구매</th>
                </tr>
                </thead>

                <tbody>

                <!--            <td class="align-middle white-space-nowrap py-0"><a class="d-block border rounded-2" href="../apps/e-commerce/landing/product-details.html"><img src="../assets/img//products/1.png" alt="" width="53" /></a></td>-->
                <!--            <td class="product align-middle ps-4"><a href="../apps/e-commerce/landing/product-details.html">도우</a></td>-->
                <tr th:each="resource, loop : ${paging}">
                    <td class="sort white-space-nowrap align-middle ps-4">
                        <a th:href="@{|/resource/readDetail?id=${resource.id}|}" th:text="${resource.category}"></a>
                    </td>
                    <td class="sort white-space-nowrap align-middle ps-4">[[${resource.address}]]</td>
                    <td class="sort white-space-nowrap align-middle ps-4">[[${resource.expiration}]]</td>
                    <td class="sort white-space-nowrap align-middle ps-4">
                        <select name="amount" th:id="'amount_' + ${loop.index}">
                            <option th:each="i : ${#numbers.sequence(resource.amount, 1)}"
                                    th:value="${i}">[[${i}]]
                            </option>
                        </select>
                    </td>
                    <td class="sort white-space-nowrap align-middle ps-4">
                        <a th:attr="onclick='purchase(' + ${resource.id} + ', ' + ${loop.index} + ', \'' + ${resource.category} + '\', ' + ${resource.price} + ')'"
                           href="#">구매</a>
                    </td>

                </tr>

                </tbody>
            </table>
            <div class="col-12 gy-6" style="margin-top: 10px">
                <div class="row g-3 justify-content-end">
                    <div class="col-auto">
                        <!-- form 속성 추가 -->
                        <button onclick="location.href='/resource/create'" class="btn btn-primary px-5 px-sm-10">재고
                            판매
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>[[${currentSales.date}]]월 매출</h3>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span class="fas fa-times fs--1"></span></button>
                </div>

                <form action="/sales/update" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-9">
                                <input class="form-control" type="text" name="income"
                                       th:value="${currentSales.income}"/>
                                <input type="hidden" name="id" th:value="${currentSales.id}">
                                <input type="hidden" name="brand.id"
                                       th:value="${currentSales.brand.id}">
                                <input type="hidden" name="date"
                                       th:value="${currentSales.date}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">업데이트
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>재고 관리</h3>
                    <button class="btn p-1" type="button" data-bs-dismiss="modal"
                            aria-label="Close"><span class="fas fa-times fs--1"></span></button>
                </div>

                <form th:action="@{'/stock/stockUpdate'}" method="post">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xl-9">
                                <div th:each="stock : ${brand.getStockList()}">
                                    <input type="hidden" th:name="'stockList[' + ${stock.id} + '].id'"
                                           th:value="${stock.id}"/>
                                    <input type="hidden" th:name="'stockList[' + ${stock.id} + '].name'"
                                           th:value="${stock.name}"/>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="form-floating">
                                            <input class="form-control" id="floatingInputGrid" type="text"
                                                   th:name="'stockList[' + ${stock.id} + '].quantity'"
                                                   th:value="${stock.quantity}"/>
                                            <label for="floatingInputGrid">[[${stock.name}]]</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">업데이트
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script th:inline="javascript">
        /*<![CDATA[*/
        function purchase(id, index, category) {
            var amountSelect = document.getElementById('amount_' + index);
            var selectedAmount = amountSelect.value;


            // 선택된 amount 값을 사용하여 URL 생성
            var purchaseLink = '/resource/purchase?id=' + id + '&amount=' + selectedAmount + '&category=' + category;

            // 페이지 이동
            window.location.href = purchaseLink;
        }

        /*]]>*/
    </script>

    <div style="margin-top: 50px;">
        <nav aria-label="Page navigation example">
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!paging.hasPrevious} ? disabled">
                        <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                            <span>이전</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'" class="page-item">
                        <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!paging.hasNext} ? disabled">
                        <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                            <span>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

</html>