<!--
name : SEULA LEE
date : 2023/11/22
mail : leeseulaseula@gmail.com
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/product/create" th:object="${productCreateForm}" method="post" enctype="multipart/form-data">
    <div class="alert alert-danger" role="alert"
         th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}">
            <span th:text="${err}"></span>
        </div>
    </div>

    <p>제품명 <input type="Text" name="name">
    <p>제품가격 <input type="Text" name="price">
    <p>제품사진 <input type="file" name="filename">
    <p><input type="submit" value="등록">
</form>

</body>
</html>