<!--
name : SEULA LEE
date : 2023/11/22
mail : leeseulaseula@gmail.com
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:each="list:${lists}">
    <br>[[${list.name}]]<img th:src="@{|https://seulabucket.s3.ap-northeast-2.amazonaws.com/${list.image}|}" width="200px" height="300px" style="border-radius: 2%;">
/&#8361; [[${list.price}]]/[[${list.stock}]]
    <a th:href="@{|/product/delete?id=${list.id}|}">삭제</a>
    <a th:href="@{|/product/update?id=${list.id}|}">수정</a>


    <form th:action="@{|/item/create?id=${list.id}|}" method="post">


        <input type="hidden" name="name" th:value="${list.name}">
        수량 : <input type="number" name="quantity" min="1"  style="width:50px;">
        <input type="hidden" name="price" th:value="${list.price}">
        <input type="submit" value="장바구니에 담기">
    </form>


</th:block>
<a href="/cart/readDetail">장바구니</a>
</body>
</html>