<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
    <div class="container" style="text-align: center; position: relative;">

<img src="../images/noItem.png" style="width: 1200px; height: auto;"/>
    <div style="position: fixed; top: 15%; left: 75%; transform: translate(-50%, -50%);">
        <a class="btn btn-secondary me-1 mb-1 btn-lg" href="/product/readList" >상품담기</a>
    </div>
    </div>
</div>