<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>





    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-5 pb-9">
        <div class="container-small cart">
            <h2 class="mb-6">장바구니</h2>
            <div class="row g-5">
                <div class="col-12 col-lg-8">
                    <div id="cartTable" data-list='{"valueNames":["name","price","createDate","quantity","total"],"page":10}'>
                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table fs--1 mb-0 border-top border-200">
                                <thead>
                                <tr>
                                    <th class="sort white-space-nowrap align-middle fs--2" scope="col"></th>
                                    <th class="sort white-space-nowrap align-middle" scope="col" style="min-width:250px;">제품명</th>
                                    <th class="sort align-middle text-end" scope="col" style="width:300px;">가격</th>

                                    <th class="sort align-middle ps-5 text-center" scope="col" style="margin-left:200px;">수량</th>

                                    <th class="sort text-end align-middle pe-0" scope="col"></th>
                                </tr>
                                </thead>
                                <tbody class="list" id="cart-table-body">
                                <th:block th:each="item : ${cart.itemList}">
                                    <tr class="cart-table-row btn-reveal-trigger">
                                        <td class="align-middle white-space-nowrap py-0"><img th:src="@{|${awspath}/${item.image}|}" alt="" width="53" height="53" class ="d-block border rounded-2"/></td>
                                        <td class="products align-middle">[[${item.name}]]</td>
                                        <td class="price align-middle text-900 fs--1 fw-semi-bold text-end">[[${item.price}]]</td>
                                        <td class="quantity align-middle fs-0 ps-5">
                                            <div class="input-group input-group-sm flex-nowrap">

                                                <input type="number" name="quantity" class="quantity" style="width: 50px;" th:value="${item.quantity}"  th:attr="data-id=${item.id}" min="1"/>

                                            </div>
                                        </td>
                                        <td class="align-middle white-space-nowrap text-end pe-0 ps-3">
                                            <button class="delete btn btn-sm text-500 hover-text-600 me-2" th:attr="data-id=${item.id}"><span class="fas fa-trash"></span></button>
                                        </td>
                                    </tr>
                                </th:block>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-between-center mb-3">
                                <h3 class="card-title mb-0">결제하기</h3>
                            </div>
                            <select class="form-select mb-3" aria-label="delivery type">
                                <option value="card">Card</option>
                            </select>

                            <div class="d-flex justify-content-between border-y border-dashed py-3 mb-4">
                                <h4 class="mb-0">총 금액 :</h4>
                                <h4 class="mb-"><span class="total">
									[[${total}]]원
								</span></h4>
                            </div>
                            <button class="btn btn-primary w-100" onclick="requestPay()">결제하기<span class="fas fa-chevron-right ms-1 fs--2"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->
    </section>



    <script>
        $(document).on("change", ".quantity", function() {
            var itemId = $(this).data("id");
            var quantity = $(this).val();

            if (quantity < 1) {
                $(this).val(1);
                quantity = 1;
            }

            $.ajax({
                type: "POST",
                url: "/cart/update",
                dataType: "json",
                data: {
                    itemId: itemId,
                    quantity: quantity
                },
                success: function(data) {
                    // 총합 금액 업데이트
                    $(".total").text(data.total + "원");
                },
                error: function(err) {
                    // 에러 처리
                    console.log(err);
                }
            });
        });

        $(".delete").click(function() {

            var itemId = $(this).data("id");

            $.ajax({
                type: "POST",
                url: "/cart/delete",
                data: {
                    itemId: itemId
                },
                success: function() {
                        $("button[data-id='" + itemId + "']").parent().remove();
                        location.reload();
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });


    </script>

    <script>
        var IMP = window.IMP;
        IMP.init("imp50853832");

        function requestPay() {
            console.log(uuid());
            if([[${itemSize}]] == 0){
                item = "[[${itemName}]]"
            } else {
                item = "[[${itemName}]] 외 [[${itemSize}]]개"
            }
            IMP.request_pay(
                {
                    pg: "danal_tpay",
                    pay_method: "card",
                    merchant_uid: "ORD"+uuid(),
                    name: item,
                    amount: "[[${total}]]",
                    buyer_email: "[[${member.username}]]"

                },
                function (rsp) {

                    if(rsp.success) { //결제 성공 케이스
                        alert("카드 결제 성공")
                        //컨트롤러로 성공시 성공 ID값 전달
                        location.href='/delivery/pay?uid=' + rsp.imp_uid;

                    } else { //결제 실패 케이스
                        alert("카드 결제 실패")
                    }

                }
            );
        }
    </script>
    <script>
        function uuid() {
            return 'xxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
                return v.toString(16);
            });
        }

        console.log(uuid())
    </script>
</div>
