<div th:fragment="footer">
    <footer class="footer position-absolute">
        <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-left">
                <p class="mb-0 mt-2 text-900" style="font-size:18px;"><span style="font-weight: bold;">Fran365</span><span class="d-none d-sm-inline-block"></span>&nbsp;&nbsp;<span class="mb-0 mt-2 text-700" style="font-size: 14px;">프랜차이즈 RPA(업무자동화) 솔루션</span>
                <p>&copy;<a class="mx-1" href="https://themewagon.com" style="font-size: 14px;">Fran365 Co., Ltd. All rights reserved.</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.13.0</p>
            </div>
        </div>
    </footer>
</div>