<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <nav class="navbar navbar-vertical navbar-expand-lg">
        <script>
            var navbarStyle = window.config.config.phoenixNavbarStyle;
            if (navbarStyle && navbarStyle !== 'transparent') {
                document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
            }
        </script>

    </nav>
    <nav class="navbar navbar-top fixed-top navbar-expand-lg" id="navbarTop" style="display:none;">
        <div class="navbar-logo">
            <button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopCollapse" aria-controls="navbarTopCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand me-1 me-sm-3" href="/">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center"><img src="/images/logo2.png" width="210" />
                       <!-- &lt;!&ndash; <p class="logo-text ms-2 d-none d-sm-block"><img src="/images/logo2.png" width="180" style="margin-left: 10px;" /></p> &ndash;&gt;-->
                    </div>
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-top-collapse order-1 order-lg-0 justify-content-center" id="navbarTopCollapse">
            <ul class="navbar-nav navbar-nav-top" data-dropdown-on-hover="data-dropdown-on-hover">
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/board/notice">
                        <span class="uil fs-0 me-2" data-feather="bell"></span>공지사항
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/board/list">
                        <span class="uil fs-0 me-2" data-feather="help-circle"></span>Q&A게시판
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/board/FAQ">
                        <span class="uil fs-0 me-2" data-feather="check-square"></span>F.A.Q
                    </a>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-0 me-2" data-feather="share-2"></span>자원공유</a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        <li><a class="dropdown-item" href="/resource/readList">
                            <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>공유게시판
                            </div>
                        </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle lh-1" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="uil fs-0 me-2" data-feather="map-pin"></span>지점현황</a>
                    <ul class="dropdown-menu navbar-dropdown-caret">
                        <li><a class="dropdown-item" href="/brand/create">
                            <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>지점 등록
                            </div>
                        </a>
                        </li>
                        <li><a class="dropdown-item" href="/brand/list">
                            <div class="dropdown-item-wrapper"><span class="me-2 uil" data-feather="heart"></span>지점 목록
                            </div>
                        </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/product/readList">
                        <span class="uil fs-0 me-2" data-feather="truck"></span>발주
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/social/main">
                        <span class="uil fs-0 me-2" data-feather="users"></span>소셜
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lh-1" href="/cart/readDetail">
                        <span class="uil fs-0 me-2" data-feather="shopping-cart"></span>장바구니
                    </a>
                </li>


                <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                    <a class="nav-link lh-1" href="/admin/main">
                        <span class="uil fs-0 me-2" data-feather="lock"></span>관리자페이지
                    </a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav navbar-nav-icons flex-row">


            <li class="nav-item dropdown"><a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-l ">
                    <img class="rounded-circle " th:src="@{|${awspath}/${member.image}|}"  alt="" />

                </div>
            </a>
                <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
                    <div class="card position-relative border-0">
                        <div class="card-body p-0">
                            <div class="text-center pt-4 pb-3">
                                <div class="avatar avatar-xl ">
                                    <img class="rounded-circle " th:src="@{|${awspath}/${member.image}|}"  alt="" />

                                </div>
                                <h6 class="mt-2 text-black">[[${member.name}]]</h6>
                            </div>

                        </div>
                        <div class="overflow-auto scrollbar" style="height: 10rem;">
                            <ul class="nav d-flex flex-column mb-2 pb-1">
                                <li class="nav-item"><a class="nav-link px-3" href="/member/readDetail"> <span class="me-2 text-900" data-feather="user"></span><span>프로필</span></a></li>
                                <li class="nav-item"><a class="nav-link px-3" href="#!"><span class="me-2 text-900" data-feather="pie-chart"></span>결재현황</a></li>
                                <li class="nav-item"><a class="nav-link px-3" href="#!"> <span class="me-2 text-900" data-feather="lock"></span>Posts &amp; 회원탈퇴</a></li>
                            </ul>

                            <div class="px-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout"> <span class="me-2" data-feather="log-out"> </span>Sign out</a></div>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </nav>
    <script>
        var navbarVertical = document.querySelector('.navbar-vertical');
        navbarVertical.remove();
        navbarTop.removeAttribute('style');
    </script>


    </main>

</div>
