<!--name:sunghee kim
date:2023/11/23
mail: inew3w@gmail.com-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout1}">

<div layout:fragment="content">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-none border border-300 mb-3"
                 data-component-card="data-component-card">
                <div class="card-header p-4 border-bottom border-300 bg-soft">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-12 col-md">
                            <h4 class="text-900 mb-0" data-anchor="data-anchor">Question & Answer</h4>
                        </div>
                    </div>
                </div>
            <div class="card-body p-3 p-sm-4">
                <div class="border-bottom mb-3">
                    <div class="d-flex align-items-center mb-3">
                        <div class="btn-reveal-trigger d-flex">
                            <div class="flex-1" style="font-size: 35px;">[[${board.category}]]> [[${board.title}]]</div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <p><a th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}"></a>
                        </p>
                    </div>

                    <div class="flex-1" style="font-size: 25px;" th:utext="${board.content}"></div>

                    <div th:if="${#authorization.expression('hasRole(''ADMIN'')') or #authentication.name == board.writer}">
                        <br><br><br>
                        <a th:href="@{|/board/update?id=${board.id}|}"
                           class="border border-300 rounded-2 p-2 mb-2 text-center bg-outline-danger dark__bg-1000 shadow-sm ml-2"
                           style="text-decoration: none;">수정</a>
                        <a th:href="@{|/board/delete?id=${board.id}&category=${board.category}|}"
                           class="border border-300 rounded-2 p-2 mb-2 text-center bg-outline-danger dark__bg-1000 shadow-sm ml-2"
                           style="text-decoration: none;">삭제</a>
                    </div>


                    <br><br><br>
                </div><br>
                <div class="d-flex">
                    <button class="btn btn-link text-900 p-0 fs--2 me-3 fw-bolder"
                            style="text-decoration: none;" type="button">
                        <span class="fa-solid fa-comment me-1" style="font-size: 1.5em;"></span>
                        <span style="font-size: 1.5em;">댓글</span>
                        <span class="badge rounded-pill bg-success" style="font-size: 1.2em;"
                              th:text="${#lists.size(board.replyList)}"></span>
                    </button>
                </div>
            </div>
        </div>
        </div><br>
        <div class="col-12">
            <div class="col-md-8 offset-md-2">
            <div class="card h-200">
                <div class="card-body">
                    <h3 class="mb-4">댓글</h3>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <form action="/reply/create" method="post" class="w-100">
                            <input type="hidden" name="id" th:value="${board.id}">
                            <input type="hidden" name="writer" th:value="${member.name}">

                            <textarea class="form-control" type="text" name="content" placeholder="답변을 입력하세요"
                                      rows="4"></textarea>
                            <button class="btn btn-primary w-100 mb-4">등록</button>
                        </form>
                    </div>
                    <th:block class="table-primary" th:each="reply: ${board.replyList}">
                        <div class="fs--1 fw-semi-bold pb-3 mb-4 border-bottom border-dashed border-300">
                            <div class="d-flex justify-content-between">
                                <div class="text-1000 mb-1"
                                     th:utext="${#strings.replace(reply.content, ',', '')}"></div>
                                <div class="text-1000 mb-1 ml-auto" th:text="${reply.writer} "></div>
                            </div>
                            <div class="text-end">
                                <p class="text-600 mb-0"
                                   th:text="${#temporals.format(reply.createDate, 'yyyy년 MM월 dd일 HH시 mm분')}">
                                </p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <br>
        </div>
        </div>
        <br><br><br>
    </div>
</div>
