<!--name:sunghee kim
date:2023/11/27
mail: inew3w@gmail.com-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout=http:www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{fragments/layout1}">

<div th:replace="fragments/header::header"></div>
<div layout:fragment="content">
<br><br><br><br><br>
<div class="container">
    <div class="col-md-10 offset-md-1">
<div class="card shadow-none border border-300 mb-3"
     data-component-card="data-component-card">
    <div class="card-header p-4 border-bottom border-300 bg-soft">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="text-900 mb-0" data-anchor="data-anchor">Notice</h4>
            <div th:if="${#authentication.name == 'admin'}">
                <a th:href="@{/board/create}"
                   class="border border-300 rounded-2 p-2 mb-2 text-center bg-outline-danger dark__bg-1000 shadow-sm"
                   style="text-decoration: none;">게시판 등록</a>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="p-4 code-to-copy">
            <div id="tableExample4"
                 data-list='{"valueNames":["id","title","createDate"],"page":5" pagination":true}'>
                <div class="table-responsive">
                    <table class="table table-sm fs--1 mb-0">
                        <thead>
                        <tr class="be-light">
                            <th class="sort border-top ps-3" data-sort="id">번호</th>
                            <th class="sort border-top" data-sort="title">제목</th>
                            <th class="sort border-top" data-sort="createDate">작성일</th>
                            <th class="sort border-top text-end pe-3" data-sort="d">조회수 </th>
                        </tr>
                        </thead>
                        <tbody id="noticeTableBody">
                        <th:block >
                            <tr th:each="board, loop : ${paging}">
                                <td class="col-3 align-middle ps-3 id" th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                                <td class="col-3 align-middle title" ><a th:text="${board.title}" th:href="@{|/board/noticeDetail?id=${board.id}|}" class="title"></a></td>
                                <td class="col-3 align-middle createDate" th:text="${#temporals.format(board.createDate, 'yyyy년 MM월 dd일')}" ></td>
                                <td class="col-3 align-middle d text-end py-3 pe-3" th:text="${#lists.size(board.hitter)}"></td> <p>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <br><br>
                <div class="search-box mb-3 mx-auto">
                    <form class="position-relative" data-bs-toggle="search"
                          data-bs-display="static">
                        <input id="searchInput" class="form-control search-input search form-control-sm"
                               type="search" placeholder="Search" aria-label="Search" /> <span
                            class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
                <nav aria-label="Page navigation example">
                    <div th:if="${!paging.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!paging.hasPrevious} ? disabled">
                                <a class="page-link" th:href="@{|?page=${paging.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                th:if="${page >= paging.number-2 and page <= paging.number+2}"
                                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!paging.hasNext} ? disabled">
                                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Select the input element and table rows
                var searchInput = document.getElementById("searchInput");
                var noticeTableBody = document.getElementById("noticeTableBody");

                // Add an event listener to the search input
                searchInput.addEventListener("input", function () {
                    var searchTerm = searchInput.value.toLowerCase();

                    // Loop through each row in the table and hide/show based on the search term
                    var rows = noticeTableBody.getElementsByTagName("tr");
                    for (var i = 0; i < rows.length; i++) {
                        var title = rows[i].getElementsByClassName("title")[0].innerText.toLowerCase();
                        if (title.includes(searchTerm)) {
                            rows[i].style.display = "";
                        } else {
                            rows[i].style.display = "none";
                        }
                    }
                });
            });
        </script>
    </div>
</div>
    </div>
</div>
</div>
<div th:replace="fragments/footer::footer"></div>